@using IM.Models.Dbo
@using Microsoft.AspNetCore.Identity
@using IM.Models.ViewModel
@model List<ProductViewModel>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
    int counter = 1;
}


<div class="text-center">
    <br />
    <h1 class="display-4">Welcome</h1>
    <br />
    <br />

    <!-- dio koda ima grešku kod prazne baze -->
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var userRoles = await UserManager.GetRolesAsync(user);


        <h2>@user.FirstName @user.LastName you are @foreach (var role in userRoles){@role}</h2>
    }
    <br />
    <br />

    <p>WebShop <a href="https://www.behance.net/kwittenberg">ASP.NET Core 6 MVC EF</a>.</p>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Naziv</th>
        <th scope="col">Opis</th>
        <th scope="col">Cijena</th>
        <th scope="col">Detalji</th>
    </tr>
    </thead>
    <tbody>

    @foreach (var product in Model)
    {
        <tr>
            <th scope="row">@counter</th>
            <td>@product.Title</td>
            <td>@product.Description</td>
            <td>@product.Price</td>
            <td><a href="@Url.Action("ItemView", "Home",new {id = product.Id})" class="btn btn-success">Detalji</a></td>
        </tr>
        counter++;
    }
    </tbody>
</table>